In [1]:
import csv


with open('/content/p2p-Gnutella04.txt', 'r') as input_file:
    with open('output1.csv', 'w', newline='') as output_file:
        csv_writer = csv.writer(output_file)
        csv_writer.writerow(['FromNodeId', 'ToNodeId'])
        for line in input_file:
            values = line.strip().split('\t')
            if(len(values)==1):
              continue
            csv_writer.writerow([values[0], values[1]])

In [2]:
import pandas as pd
import numpy as np

In [3]:
import csv
with open('output1.csv', 'r') as f_in:
    reader = csv.reader(f_in)
    rows = list(reader)
    rows.pop(0)

with open('output1.csv', 'w', newline='') as f_out:
    writer = csv.writer(f_out)
    writer.writerows(rows)

In [4]:
col_names=['FromNodeId','ToNodeId'] 
df=pd.read_csv("output1.csv",names=col_names)

df=df[1:]
df.head(15)

   FromNodeId ToNodeId
1           0        1
2           0        2
3           0        3
4           0        4
5           0        5
6           0        6
7           0        7
8           0        8
9           0        9
10          0       10
11          1        2
12          1       11
13          1       12
14          1       13
15          1       14

In [5]:
#selecting the unique node set
unique_nodes= len(set(df['FromNodeId']).union(set(df['ToNodeId'])))

In [6]:
#printing the number of unique nodes
unique_nodes

10876

In [7]:
#finding the values of unique nodes and storing in an array
unique_nodes = np.unique(df[["FromNodeId", "ToNodeId"]].values.tolist())
unique_nodes

array(['0', '1', '10', ..., '9997', '9998', '9999'], dtype='<U5')

In [8]:
len(unique_nodes)

10876

In [9]:
#converting into a datframe
testing =pd.DataFrame(0,columns = unique_nodes,index = unique_nodes)

In [10]:
testing

,0,1,10,100,1000,10000,10001,10002,10003,10004,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#making the adjacency matrix 
num_nodes = len(unique_nodes)
adj_matrix = np.zeros((num_nodes+3, num_nodes+3))
print(adj_matrix)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [12]:
for index, row in df.iterrows():
    fr_row=int(row["FromNodeId"])
    # fr.append(fr_row)
    to_row=int(row["ToNodeId"])
    # to.append(to_row)
    adj_matrix[fr_row][to_row]=1

In [13]:
#this is the adjacency matrix
adj_matrix

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [14]:
df2=pd.DataFrame(adj_matrix)

In [15]:
df2 = df2.astype(int)
df2

,0,1,2,3,4,5,6,7,8,9,...,10869,10870,10871,10872,10873,10874,10875,10876,10877,10878
0,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10874,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
10875,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10876,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
num_nodes = len(unique_nodes)
A = np.zeros((num_nodes, num_nodes))
for row in df.itertuples():
    testing.at[row.FromNodeId,row.ToNodeId] = 1
    
print("Weighted directed Adjacency Matrix in dataframe" + "\n")
testing

Weighted directed Adjacency Matrix in dataframe

,0,1,10,100,1000,10000,10001,10002,10003,10004,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#finding edhge list
edge_list=[]
for index,row in df.iterrows():
    temp_list=[]
    temp_list.append(row["FromNodeId"])
    temp_list.append(row["ToNodeId"])
    edge_list.append(temp_list)

In [18]:
#printing the edge list
edge_list

[['0', '1'],
 ['0', '2'],
 ['0', '3'],
 ['0', '4'],
 ['0', '5'],
 ['0', '6'],
 ['0', '7'],
 ['0', '8'],
 ['0', '9'],
 ['0', '10'],
 ['1', '2'],
 ['1', '11'],
 ['1', '12'],
 ['1', '13'],
 ['1', '14'],
 ['1', '15'],
 ['1', '16'],
 ['1', '17'],
 ['1', '18'],
 ['1', '19'],
 ['3', '20'],
 ['3', '21'],
 ['3', '22'],
 ['3', '23'],
 ['3', '24'],
 ['3', '25'],
 ['3', '26'],
 ['3', '27'],
 ['3', '28'],
 ['3', '29'],
 ['8', '30'],
 ['8', '31'],
 ['8', '32'],
 ['8', '33'],
 ['8', '34'],
 ['8', '35'],
 ['8', '36'],
 ['8', '37'],
 ['8', '38'],
 ['8', '39'],
 ['10', '41'],
 ['10', '136'],
 ['10', '137'],
 ['10', '138'],
 ['10', '139'],
 ['10', '140'],
 ['10', '141'],
 ['10', '142'],
 ['10', '143'],
 ['10', '144'],
 ['12', '40'],
 ['12', '41'],
 ['12', '42'],
 ['12', '43'],
 ['12', '44'],
 ['12', '45'],
 ['12', '46'],
 ['12', '47'],
 ['12', '48'],
 ['12', '49'],
 ['14', '199'],
 ['14', '756'],
 ['14', '1116'],
 ['14', '2537'],
 ['14', '2787'],
 ['14', '3307'],
 ['14', '4524'],
 ['14', '4674'],
 ['14', '6016'],
 ['14', '7040'],
 ['17', '79'],
 ['17', '80'],
 ['17', '81'],
 ['17', '82'],
 ['17', '83'],
 ['17', '84'],
 ['17', '85'],
 ['17', '86'],
 ['17', '87'],
 ['17', '88'],
 ['19', '69'],
 ['19', '70'],
 ['19', '71'],
 ['19', '72'],
 ['19', '73'],
 ['19', '74'],
 ['19', '75'],
 ['19', '76'],
 ['19', '77'],
 ['19', '78'],
 ['20', '50'],
 ['20', '51'],
 ['20', '52'],
 ['20', '53'],
 ['20', '54'],
 ['20', '55'],
 ['20', '56'],
 ['20', '57'],
 ['20', '58'],
 ['20', '59'],
 ['21', '22'],
 ['21', '60'],
 ['21', '61'],
 ['21', '62'],
 ['21', '63'],
 ['21', '64'],
 ['21', '65'],
 ['21', '66'],
 ['21', '67'],
 ['21', '68'],
 ['23', '108'],
 ['23', '109'],
 ['23', '110'],
 ['23', '111'],
 ['23', '112'],
 ['23', '113'],
 ['23', '114'],
 ['23', '115'],
 ['23', '116'],
 ['25', '98'],
 ['25', '99'],
 ['25', '100'],
 ['25', '101'],
 ['25', '102'],
 ['25', '103'],
 ['25', '104'],
 ['25', '105'],
 ['25', '106'],
 ['25', '107'],
 ['26', '78'],
 ['26', '89'],
 ['26', '90'],
 ['26', '91'],
 ['26', '92'],
 ['26', '93'],
 ['26', '94'],
 ['26', '95'],
 ['26', '96'],
 ['26', '97'],
 ['29', '654'],
 ['30', '185'],
 ['30', '186'],
 ['38', '117'],
 ['38', '118'],
 ['38', '119'],
 ['38', '120'],
 ['38', '121'],
 ['38', '122'],
 ['38', '123'],
 ['38', '124'],
 ['38', '125'],
 ['38', '126'],
 ['39', '155'],
 ['39', '156'],
 ['39', '157'],
 ['39', '158'],
 ['39', '159'],
 ['39', '160'],
 ['39', '161'],
 ['39', '162'],
 ['39', '163'],
 ['39', '164'],
 ['46', '92'],
 ['46', '127'],
 ['46', '128'],
 ['46', '129'],
 ['46', '130'],
 ['46', '131'],
 ['46', '132'],
 ['46', '133'],
 ['46', '134'],
 ['46', '135'],
 ['54', '145'],
 ['54', '146'],
 ['54', '147'],
 ['54', '148'],
 ['54', '149'],
 ['54', '150'],
 ['54', '151'],
 ['54', '152'],
 ['54', '153'],
 ['54', '154'],
 ['58', '165'],
 ['58', '166'],
 ['58', '167'],
 ['58', '168'],
 ['58', '169'],
 ['58', '170'],
 ['58', '171'],
 ['58', '172'],
 ['58', '173'],
 ['58', '174'],
 ['60', '184'],
 ['61', '175'],
 ['62', '13'],
 ['62', '176'],
 ['62', '177'],
 ['62', '178'],
 ['62', '179'],
 ['62', '180'],
 ['62', '181'],
 ['62', '182'],
 ['62', '183'],
 ['65', '178'],
 ['65', '197'],
 ['65', '198'],
 ['65', '199'],
 ['65', '200'],
 ['65', '201'],
 ['65', '202'],
 ['65', '203'],
 ['65', '204'],
 ['65', '205'],
 ['73', '187'],
 ['73', '188'],
 ['73', '189'],
 ['73', '190'],
 ['73', '191'],
 ['73', '192'],
 ['73', '193'],
 ['73', '194'],
 ['73', '195'],
 ['73', '196'],
 ['75', '3'],
 ['75', '6'],
 ['75', '57'],
 ['75', '216'],
 ['75', '217'],
 ['75', '218'],
 ['75', '219'],
 ['75', '220'],
 ['75', '221'],
 ['75', '222'],
 ['76', '206'],
 ['76', '207'],
 ['76', '208'],
 ['76', '209'],
 ['76', '210'],
 ['76', '211'],
 ['76', '212'],
 ['76', '213'],
 ['76', '214'],
 ['76', '215'],
 ['77', '80'],
 ['77', '84'],
 ['77', '85'],
 ['77', '86'],
 ['77', '88'],
 ['77', '294'],
 ['77', '309'],
 ['77', '310'],
 ['77', '311'],
 ['77', '312'],
 ['78', '490'],
 ['78', '491'],
 ['78', '492'],
 ['80', '232'],
 ['80', '233'],
 ['80', '234'],
 ['80', '235'],
 ['80', '236'],
 ['80', '237'],
 ['80', '238'],
 ['80', '239'],
 ['80', '240'],
 ['81', '193'],
 ['81', '196'],
 ['81', '750'],
 ['81', '1014'],
 ['81', '2738'],
 ['81', '3186'],
 ['81', '3297'],
 ['81', '5969'],
 ['81', '5970'],
 ['81', '5971'],
 ['83', '63'],
 ['83', '223'],
 ['83', '224'],
 ['83', '225'],
 ['83', '226'],
 ['83', '227'],
 ['83', '228'],
 ['83', '229'],
 ['83', '230'],
 ['83', '231'],
 ['84', '408'],
 ['84', '820'],
 ['84', '2619'],
 ['84', '2952'],
 ['84', '4166'],
 ['84', '4657'],
 ['84', '4754'],
 ['84', '5031'],
 ['84', '6337'],
 ['84', '6338'],
 ['87', '208'],
 ['87', '241'],
 ['87', '242'],
 ['87', '243'],
 ['87', '244'],
 ['87', '245'],
 ['87', '246'],
 ['87', '247'],
 ['87', '248'],
 ['88', '84'],
 ['88', '85'],
 ['88', '86'],
 ['88', '292'],
 ['88', '293'],
 ['88', '294'],
 ['88', '295'],
 ['88', '296'],
 ['88', '297'],
 ['88', '298'],
 ['89', '148'],
 ['89', '266'],
 ['89', '267'],
 ['89', '268'],
 ['89', '269'],
 ['89', '270'],
 ['89', '271'],
 ['89', '272'],
 ['89', '273'],
 ['89', '274'],
 ['90', '89'],
 ['90', '92'],
 ['90', '223'],
 ['90', '259'],
 ['90', '260'],
 ['90', '261'],
 ['90', '262'],
 ['90', '263'],
 ['90', '264'],
 ['90', '265'],
 ['91', '249'],
 ['91', '250'],
 ['91', '251'],
 ['91', '252'],
 ['91', '253'],
 ['91', '254'],
 ['91', '255'],
 ['91', '256'],
 ['91', '257'],
 ['91', '258'],
 ['92', '164'],
 ['92', '275'],
 ['92', '276'],
 ['92', '277'],
 ['92', '278'],
 ['92', '279'],
 ['92', '280'],
 ['92', '281'],
 ['92', '282'],
 ['92', '283'],
 ['93', '107'],
 ['93', '284'],
 ['93', '285'],
 ['93', '286'],
 ['93', '287'],
 ['93', '288'],
 ['93', '289'],
 ['93', '290'],
 ['93', '291'],
 ['94', '299'],
 ['94', '300'],
 ['94', '301'],
 ['94', '302'],
 ['94', '303'],
 ['94', '304'],
 ['94', '305'],
 ['94', '306'],
 ['94', '307'],
 ['94', '308'],
 ['96', '333'],
 ['96', '334'],
 ['96', '335'],
 ['96', '336'],
 ['96', '337'],
 ['96', '338'],
 ['96', '339'],
 ['96', '340'],
 ['96', '341'],
 ['96', '342'],
 ['97', '27'],
 ['97', '142'],
 ['97', '502'],
 ['97', '742'],
 ['97', '871'],
 ['97', '872'],
 ['97', '873'],
 ['97', '874'],
 ['97', '875'],
 ['97', '876'],
 ['97', '877'],
 ['97', '878'],
 ['97', '879'],
 ['97', '880'],
 ['97', '881'],
 ['97', '882'],
 ['97', '883'],
 ['97', '884'],
 ['97', '885'],
 ['99', '4'],
 ['99', '103'],
 ['99', '105'],
 ['99', '320'],
 ['99', '321'],
 ['99', '322'],
 ['99', '323'],
 ['99', '324'],
 ['99', '325'],
 ['99', '326'],
 ['99', '327'],
 ['99', '328'],
 ['99', '329'],
 ['99', '330'],
 ['99', '331'],
 ['99', '332'],
 ['101', '139'],
 ['101', '313'],
 ['101', '314'],
 ['101', '315'],
 ['101', '316'],
 ['101', '317'],
 ['101', '318'],
 ['101', '319'],
 ['106', '166'],
 ['106', '171'],
 ['106', '343'],
 ['106', '344'],
 ['106', '345'],
 ['106', '346'],
 ['106', '347'],
 ['106', '348'],
 ['106', '349'],
 ['107', '2981'],
 ['107', '3307'],
 ['107', '6479'],
 ['107', '7381'],
 ['107', '8612'],
 ['107', '8842'],
 ['107', '8843'],
 ['107', '8844'],
 ['107', '8845'],
 ['108', '350'],
 ['109', '385'],
 ['109', '386'],
 ['109', '387'],
 ['109', '388'],
 ['109', '389'],
 ['109', '390'],
 ['109', '391'],
 ['109', '392'],
 ['109', '393'],
 ['109', '394'],
 ['111', '102'],
 ['112', '329'],
 ['112', '351'],
 ['112', '352'],
 ['112', '353'],
 ['112', '354'],
 ['112', '355'],
 ['112', '356'],
 ['112', '357'],
 ['112', '358'],
 ['112', '359'],
 ['113', '86'],
 ['113', '360'],
 ['113', '361'],
 ['113', '362'],
 ['113', '363'],
 ['113', '364'],
 ['113', '365'],
 ['113', '366'],
 ['113', '367'],
 ['115', '395'],
 ['115', '396'],
 ['115', '397'],
 ['115', '398'],
 ['115', '399'],
 ['115', '400'],
 ['115', '401'],
 ['115', '402'],
 ['115', '403'],
 ['115', '404'],
 ['116', '512'],
 ['118', '368'],
 ['118', '369'],
 ['118', '370'],
 ['118', '371'],
 ['118', '372'],
 ['118', '373'],
 ['118', '374'],
 ['118', '375'],
 ['118', '376'],
 ['118', '377'],
 ['119', '102'],
 ['119', '103'],
 ['119', '322'],
 ['119', '378'],
 ['119', '379'],
 ['119', '380'],
 ['119', '381'],
 ['119', '382'],
 ['119', '383'],
 ['119', '384'],
 ['120', '97'],
 ['120', '408'],
 ['120', '438'],
 ['120', '439'],
 ['120', '440'],
 ['120', '441'],
 ['120', '442'],
 ['120', '443'],
 ['120', '444'],
 ['120', '445'],
 ['121', '480'],
 ['121', '481'],
 ['121', '482'],
 ['121', '483'],
 ['121', '484'],
 ['121', '485'],
 ['121', '486'],
 ['121', '487'],
 ['121', '488'],
 ['121', '489'],
 ['122', '149'],
 ['122', '415'],
 ['122', '416'],
 ['122', '417'],
 ['122', '418'],
 ['123', '405'],
 ['123', '406'],
 ['123', '407'],
 ['123', '408'],
 ['123', '409'],
 ['123', '410'],
 ['123', '411'],
 ['123', '412'],
 ['123', '413'],
 ['123', '414'],
 ['124', '419'],
 ['124', '420'],
 ['124', '421'],
 ['124', '422'],
 ['124', '423'],
 ['124', '424'],
 ['124', '425'],
 ['124', '426'],
 ['124', '427'],
 ['124', '428'],
 ['125', '470'],
 ['125', '471'],
 ['125', '472'],
 ['125', '473'],
 ['125', '474'],
 ['125', '475'],
 ['125', '476'],
 ['125', '477'],
 ['125', '478'],
 ['125', '479'],
 ['126', '244'],
 ['126', '957'],
 ['126', '958'],
 ['127', '1475'],
 ['127', '2364'],
 ['127', '2799'],
 ['127', '3641'],
 ['127', '3681'],
 ['127', '3682'],
 ['127', '3683'],
 ['127', '3684'],
 ['127', '3685'],
 ['127', '3686'],
 ['128', '18'],
 ['128', '429'],
 ['128', '430'],
 ['128', '431'],
 ['128', '432'],
 ['128', '433'],
 ['128', '434'],
 ['128', '435'],
 ['128', '436'],
 ['128', '437'],
 ['129', '2518'],
 ['129', '3309'],
 ['129', '3310'],
 ['129', '3311'],
 ['129', '3312'],
 ['129', '3313'],
 ['129', '3314'],
 ['129', '3315'],
 ['129', '3316'],
 ['129', '3317'],
 ['130', '446'],
 ['130', '447'],
 ['130', '448'],
 ['130', '449'],
 ['130', '450'],
 ['130', '451'],
 ['130', '452'],
 ['130', '453'],
 ['130', '454'],
 ['130', '455'],
 ['131', '140'],
 ['131', '328'],
 ['131', '456'],
 ['131', '457'],
 ['131', '458'],
 ['131', '459'],
 ['131', '460'],
 ['131', '461'],
 ['131', '462'],
 ['131', '463'],
 ['132', '3'],
 ['132', '52'],
 ['132', '219'],
 ['132', '222'],
 ['132', '464'],
 ['132', '465'],
 ['132', '466'],
 ['132', '467'],
 ['132', '468'],
 ['132', '469'],
 ['133', '570'],
 ['133', '1210'],
 ['133', '1755'],
 ['133', '2002'],
 ['133', '2773'],
 ['133', '3680'],
 ['133', '4229'],
 ['133', '4230'],
 ['133', '4231'],
 ['133', '4232'],
 ['136', '730'],
 ['136', '1116'],
 ['136', '1198'],
 ['136', '1454'],
 ['136', '4191'],
 ['136', '4694'],
 ['136', '5062'],
 ['136', '5626'],
 ['136', '8253'],
 ['136', '8958'],
 ['137', '289'],
 ['137', '493'],
 ['137', '494'],
 ['137', '495'],
 ['137', '496'],
 ['137', '497'],
 ['137', '498'],
 ['137', '499'],
 ['137', '500'],
 ['137', '501'],
 ['141', '502'],
 ['141', '503'],
 ['141', '504'],
 ['141', '505'],
 ['141', '506'],
 ['141', '507'],
 ['141', '508'],
 ['141', '509'],
 ['141', '510'],
 ['141', '511'],
 ['144', '260'],
 ['144', '377'],
 ['144', '513'],
 ['144', '514'],
 ['144', '515'],
 ['144', '516'],
 ['144', '517'],
 ['144', '518'],
 ['144', '519'],
 ['144', '520'],
 ['147', '402'],
 ['147', '521'],
 ['147', '522'],
 ['147', '523'],
 ['147', '524'],
 ['147', '525'],
 ['147', '526'],
 ['147', '527'],
 ['147', '528'],
 ['147', '529'],
 ['148', '40'],
 ['148', '121'],
 ['148', '530'],
 ['148', '531'],
 ['148', '532'],
 ['148', '533'],
 ['148', '534'],
 ['148', '535'],
 ['148', '536'],
 ['148', '537'],
 ['150', '538'],
 ['150', '539'],
 ['150', '540'],
 ['150', '541'],
 ['150', '542'],
 ['150', '543'],
 ['150', '544'],
 ['150', '545'],
 ['150', '546'],
 ['150', '547'],
 ['153', '197'],
 ['153', '473'],
 ['153', '548'],
 ['153', '549'],
 ['153', '550'],
 ['153', '551'],
 ['153', '552'],
 ['153', '553'],
 ['153', '554'],
 ['153', '555'],
 ['154', '167'],
 ['154', '580'],
 ['154', '581'],
 ['154', '582'],
 ['154', '583'],
 ['154', '584'],
 ['154', '585'],
 ['154', '586'],
 ['154', '587'],
 ['154', '588'],
 ['157', '155'],
 ['157', '556'],
 ['157', '557'],
 ['157', '558'],
 ['157', '559'],
 ['157', '560'],
 ['157', '561'],
 ['157', '562'],
 ['157', '563'],
 ['157', '564'],
 ['158', '346'],
 ['158', '495'],
 ['158', '505'],
 ['158', '565'],
 ['158', '566'],
 ['158', '567'],
 ['158', '568'],
 ['158', '569'],
 ['162', '570'],
 ['162', '571'],
 ['162', '572'],
 ['162', '573'],
 ['162', '574'],
 ['162', '575'],
 ['162', '576'],
 ['162', '577'],
 ['162', '578'],
 ['162', '579'],
 ['165', '589'],
 ['165', '590'],
 ['165', '591'],
 ['165', '592'],
 ['165', '593'],
 ['165', '594'],
 ['165', '595'],
 ['165', '596'],
 ['165', '597'],
 ['165', '598'],
 ['166', '205'],
 ['166', '599'],
 ['166', '600'],
 ['166', '601'],
 ['166', '602'],
 ['166', '603'],
 ['166', '604'],
 ['166', '605'],
 ['166', '606'],
 ['166', '607'],
 ['167', '608'],
 ['167', '609'],
 ['167', '610'],
 ['167', '611'],
 ['167', '612'],
 ['167', '613'],
 ['167', '614'],
 ['167', '615'],
 ['167', '616'],
 ['167', '617'],
 ['168', '155'],
 ['168', '157'],
 ['168', '540'],
 ['168', '618'],
 ['168', '619'],
 ['168', '620'],
 ['168', '621'],
 ['168', '622'],
 ['168', '623'],
 ['168', '624'],
 ['170', '78'],
 ['170', '715'],
 ['170', '716'],
 ['170', '717'],
 ['170', '718'],
 ['170', '719'],
 ['170', '720'],
 ['170', '721'],
 ['170', '722'],
 ['170', '723'],
 ['171', '543'],
 ['171', '600'],
 ['171', '616'],
 ['171', '625'],
 ['171', '626'],
 ['171', '627'],
 ['171', '628'],
 ['171', '629'],
 ['171', '630'],
 ['171', '631'],
 ['175', '92'],
 ['175', '190'],
 ['175', '421'],
 ['175', '632'],
 ['175', '633'],
 ['175', '634'],
 ['175', '635'],
 ['175', '636'],
 ['175', '637'],
 ['175', '638'],
 ['176', '180'],
 ['176', '561'],
 ['176', '633'],
 ['176', '639'],
 ['176', '640'],
 ['176', '641'],
 ['176', '642'],
 ['176', '643'],
 ['176', '644'],
 ['176', '645'],
 ['177', '4'],
 ['180', '304'],
 ['180', '639'],
 ['180', '646'],
 ['180', '647'],
 ['180', '648'],
 ['180', '649'],
 ['180', '650'],
 ['180', '651'],
 ['180', '652'],
 ['180', '653'],
 ['181', '359'],
 ['181', '655'],
 ['181', '656'],
 ['181', '657'],
 ['181', '658'],
 ['181', '659'],
 ['181', '660'],
 ['181', '661'],
 ['181', '662'],
 ['181', '663'],
 ['183', '664'],
 ['184', '564'],
 ['184', '665'],
 ['184', '666'],
 ['184', '667'],
 ['184', '668'],
 ['184', '669'],
 ['184', '670'],
 ['184', '671'],
 ['184', '672'],
 ['184', '673'],
 ['185', '3578'],
 ['185', '8662'],
 ['187', '167'],
 ['187', '407'],
 ['187', '568'],
 ['187', '693'],
 ['187', '694'],
 ['187', '695'],
 ['187', '696'],
 ['187', '697'],
 ['187', '698'],
 ['187', '699'],
 ['189', '674'],
 ['189', '675'],
 ['189', '676'],
 ['189', '677'],
 ['189', '678'],
 ['189', '679'],
 ['189', '680'],
 ['189', '681'],
 ['189', '682'],
 ['189', '683'],
 ['190', '1091'],
 ['190', '1579'],
 ['190', '2793'],
 ['190', '3004'],
 ['190', '4496'],
 ['190', '4579'],
 ['190', '5173'],
 ['190', '5355'],
 ['190', '9273'],
 ['190', '9357'],
 ['192', '684'],
 ['192', '685'],
 ['192', '686'],
 ['192', '687'],
 ['192', '688'],
 ['192', '689'],
 ['192', '690'],
 ['192', '691'],
 ['192', '692'],
 ['193', '700'],
 ['194', '9'],
 ['194', '290'],
 ['194', '351'],
 ['194', '581'],
 ['194', '836'],
 ['194', '4391'],
 ['194', '4596'],
 ['194', '4609'],
 ['194', '4870'],
 ['194', '6699'],
 ['195', '278'],
 ['195', '399'],
 ['195', '605'],
 ['195', '701'],
 ['195', '702'],
 ['195', '703'],
 ['195', '704'],
 ['195', '705'],
 ['195', '706'],
 ['195', '707'],
 ['198', '165'],
 ['198', '178'],
 ['198', '675'],
 ['198', '708'],
 ['198', '709'],
 ['198', '710'],
 ['198', '711'],
 ['198', '712'],
 ['198', '713'],
 ['198', '714'],
 ['200', '724'],
 ['200', '725'],
 ['200', '726'],
 ['200', '727'],
 ['200', '728'],
 ['200', '729'],
 ['200', '730'],
 ['200', '731'],
 ['200', '732'],
 ['200', '733'],
 ['201', '359'],
 ['201', '734'],
 ['201', '735'],
 ['201', '736'],
 ['201', '737'],
 ['201', '738'],
 ['201', '739'],
 ['201', '740'],
 ['201', '741'],
 ['201', '742'],
 ['206', '328'],
 ['206', '641'],
 ['206', '753'],
 ['206', '754'],
 ['206', '755'],
 ['206', '756'],
 ['206', '757'],
 ['206', '758'],
 ['206', '759'],
 ['206', '760'],
 ['207', '743'],
 ['207', '744'],
 ['207', '745'],
 ['207', '746'],
 ['207', '747'],
 ['207', '748'],
 ['207', '749'],
 ['207', '750'],
 ['207', '751'],
 ['207', '752'],
 ['213', '172'],
 ['213', '348'],
 ['213', '410'],
 ['213', '761'],
 ['213', '762'],
 ['213', '763'],
 ['213', '764'],
 ['213', '765'],
 ['213', '766'],
 ['213', '767'],
 ['218', '69'],
 ['218', '564'],
 ['218', '768'],
 ['218', '769'],
 ['218', '770'],
 ['218', '771'],
 ['218', '772'],
 ['218', '773'],
 ['218', '774'],
 ['220', '108'],
 ['220', '775'],
 ['220', '776'],
 ['220', '777'],
 ['220', '778'],
 ...]

In [19]:
no_of_edge=len(edge_list)

In [20]:
#number of nodes
print("number of nodes -> ",len(np.unique(unique_nodes)))

number of nodes ->  10876

In [21]:
#length of edge_list
print("count of edges-> ",len(edge_list))

count of edges->  39994

In [22]:
# code for finding average in degree
in_degrees = np.sum(adj_matrix, axis=1)
avg_in_deg = np.mean(in_degrees)
print("average in degree", avg_in_deg)

average in degree 3.6762570089162607

In [23]:
#code for finding average out degree
out_degrees = np.sum(adj_matrix, axis=0)
avg_out_deg = np.mean(out_degrees)
print("Average Out-Degree of Network:", avg_out_deg)

Average Out-Degree of Network: 3.6762570089162607

In [24]:
#code for finding node with maximum out degree
out_dict={}
max_degree = 0
max_node = -1
for i in range(len(adj_matrix)):
    outdegree = sum(adj_matrix[i])
    out_dict[i]=outdegree
    if outdegree > max_degree:
        max_degree = outdegree
        max_node = i
print("node with max out degree",max_node,int(max_degree))

node with max out degree 3109 100

In [25]:
#code for finding node with maximum in degree
in_dict={}
max_in_degree=0
max_out_node=-1
for i in range (len(adj_matrix[0])):
  count=0
  for j in range(len(adj_matrix)):
    if (adj_matrix[j][i]==1):
      count+=1
  in_dict[i]=count
  if (count>max_in_degree):
    max_in_degree=count
    max_out_node=i
print("node with max in degree",max_out_node,int(max_in_degree))

node with max in degree 1054 72

In [26]:
#code for finding the density of matrix
print("density of the network", no_of_edge/(len(unique_nodes)*(len(unique_nodes)-1)))

density of the network 0.0003381398671756435